
#body{
	font-family: Cardo, sans-serif;
	background-color: #C2EBF0;
	font-size: 110%;
}

#body p{
	line-height: 1.6em;
}

#body{
	padding: 0 0 30px; 0
}

#main-inner{
	padding: 0 60px 0 0;
}

.main{
	width: 580px;
	float: left;
	padding: 30px 0px 30px 30px;
}

.side{
	width: 240px;
	float: left;
	padding: 30px 30px 30px 0px;
}

#container{
	width: 960px;
	margin: 0 auto 0 auto;
	background-color: #C2EBF0;
	border: 2px solid #6AA2A8;
	border-radius: 10px;
}


/*navbar code*/
* { margin: 0px; padding: 0px; }
 
#nav {
      background: url(nav.png);
      height: 38px;
      width: 876px;
      margin: 10px auto;
}
 
#nav span {
     display: none;
}

#nav li {
    list-style-type: none;
    float: left;
}
 
#nav a {
    height: 38px;
    display: block;
}

#list1{	width: 172px; }
#list2{	width: 181px; }
#list3{	width: 183px; }
#list4{	width: 182px; }
#list5{	width: 158px; }

ul#nav li#list1 a:hover{
	background: url(nav.png) 0px -38px no-repeat;
}
ul#nav li#list2 a:hover{
	background: url(nav.png) -172px -38px no-repeat;
}
ul#nav li#list3 a:hover{
	background: url(nav.png) -353px -38px no-repeat;
}
ul#nav li#list4 a:hover{
	background: url(nav.png) -536px -38px no-repeat;
}
ul#nav li#list5 a:hover{
	background: url(nav.png) -718px -38px no-repeat;
}
/* END navbar code */

#footer{
	background-color: #6AA2A8;
	width:939px;
	margin: -15px auto 20px auto;
	padding: 1px 5px 1px 20px;
	border-radius: 0 0 10px 10px;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */